<a href="https://colab.research.google.com/github/cibellelepore/curso_analisededados/blob/main/Script_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CURSO DE ANÁLISE DE DADOS EM *PYTHON*

**1 - Primeiros Passos**

In [ ]:
print("Bem-vindo ao curso de Python")

Bem-vindo ao curso de Python

In [ ]:
# - usado para fazer comentário

In [ ]:
'''
Ele aceita tres aspas simples para fazer comentario - no terminal
'''

'\nEle aceita tres aspas simples para fazer comentario - no terminal\n'

**2 - Operadores Matemáticos**

In [ ]:
# Soma
1 + 5

6

In [ ]:
# Subtração
10 - 5

5

In [ ]:
# multiplicacao
2 * 3

6

In [ ]:
# Divisão
10 / 2

5.0

In [ ]:
# Exponenciacao

2 ** 3

8

3 - **Variáveis**

In [ ]:
# Variaveis
Nome = "Cibelle"

In [ ]:

Nome

'Cibelle'

In [ ]:
# Variaveis de Texto
Var_texto1 = "Qualquer texto1"
Var_texto2 = str("Qualquer texto")

print(Var_texto1, Var_texto2)

Qualquer texto1 Qualquer texto

In [ ]:
# Variaveis numericas
Var_Inteiro_01 = 100
Var_Inteiro_02 = int(200)

print(Var_Inteiro_01, Var_Inteiro_02)

100 200

In [ ]:
# Variaveis Flutuantes (decimais)
Var_Flutuante_01 = 10.90
Var_Flutuante_02 = float(12.2)

print(Var_Flutuante_01, Var_Flutuante_02)

10.9 12.2

In [ ]:
# Variaveis Boleanas 
Var_Booleano_01 = True
Var_Booleano_02 = False

print( Var_Booleano_01, Var_Booleano_02)

True False

**4 - Tipos de Dados**

In [ ]:
# Listas - cria utilizando []
Lista_Exemplo = [1,5,9,11]
print(Lista_Exemplo)

[1, 5, 9, 11]

In [ ]:
# Tuplas - cria utilizando () as tuplas são imutáveis
Tupla_Ex = ("casa", 5, 10.5, True )

print(Tupla_Ex)

('casa', 5, 10.5, True)

In [ ]:
# Dicionarios  - é formado por um index e um valor
Dicionario = { 
    "Id" : 3
    "Id" : 2
    "Nome" : "João"
}

**5 - Nomeação de variáveis**

In [ ]:
# 1 forma de nomear - primeira opcão o python faz correspondecia entre as variaveis

Melancia, Caju, Laranja = 2, 8, 11

print(Melancia, Caju, Laranja)

2 8 11

In [ ]:
# 2 forma de nomear - atribuir um valor global, para todas as variaveis

Morango = Laranja = Lima = 122   #todas as frutas vao receber o valor de 122

print(Morango, Laranja, Lima)

122 122 122

In [ ]:
# 3 forma de nomear como lista

Lista_Carros = ["W", "Audi", "Ford"]
marca_01, marca_02, marca_03 = Lista_Carros

print(marca_01, marca_02, marca_03)

W Audi Ford

**6- Tipo de Informação**

Na programação, o tipo de dados é um conceito importante. Variáveis podem armazenar dados de diferentes tipos. O Pythn tem os seguintes tipos de dados integrados por padrão, nestas categorias:

1. Text Type: str
2. Numeric Type: int, float, complex
3. Sequence Types: list, tuple, range
4. Mapping Type: dict
5. Set Types: set, frozenset
6. Boolean Type: bool
7. Binary Types: bytes, bytearray, memoryview

In [ ]:
String = str("Olá")
Inteiro = int( 12 )
Flutuante = float( 100.5 )
Complex = complex( 1j )
Lista = list( ("Lima", "Kiwi"))
Tupla = tuple(( "A", "B"))
Range = range(6)
Dicionario = dict( nome="Aline", age=15)
Set = set(("A", "B", "C"))
Boleano = bool( 5 )
Bytes = bytes( 6 )
ByteArray = bytearray( 5 )
Memoryview = memoryview( bytes(6) )

from datetime import datetime
Data = datetime.today().date()

In [4]:
# Atentar para o tipo de variável quando deseja concatenar 

Nome = "Ana "
Idade = str( 30 )   # 30 no caso é um inteiro tera que avisar antes para transformar em string

Nome + Idade + " anos"

'Ana 30 anos'

In [5]:
Investimento = 1000
Taxa_juros = float( "0.5" )

Investimento * Taxa_juros

500.0

**7- Comando Round**: 
Quando trabalhamos com números flutuantes, podemos arredondar o valor usando um comando nativo do Python, ajuda a diminuir as casas decimais para facilitar o trabalho, arrenda para o valor mais próximo
round( valor, número de casas)

In [ ]:
# Comando roud
Valor_Exemplo = 12.12324789

In [ ]:
print( Valor_Exemplo )

12.12324789

In [ ]:
round(Valor_Exemplo, 5 )

12.12325

8- Comando Len - retorna a quantidade de elementos de qualquer lista em Python

In [ ]:
Lista = [1,2,3,5,6,7,8,10]
Dicionario = {"Nome":"Aline","Idade":30}
Tupla = (1,4,5)
String = "Bom dia"

In [ ]:
len( Tupla )

3

9 - Manipulando Strings

In [ ]:
# Definir 1 String, verificar quantos elementos possue, tipo(classe) e 
# concatenar

String_1 = "Bom dia, Cibelle." 
print(String_1)

Bom dia, Cibelle.

In [ ]:
len(String_1)

17

In [ ]:
type(String_1)

str

In [ ]:
String_1 + " Como você está?"

'Bom dia, Cibelle. Como você está?'

In [ ]:
# Replace -> Substituir

String_1.replace("Bom dia, Cibelle", 'Boa tarde, Cibelle')

'Boa tarde, Cibelle.'

In [ ]:
#Verificar como começa uma string (startswith)
String_1.startswith("Bom")

True

In [ ]:
#Verificar como termina (endswith)
String_1.endswith("dia")

False

In [ ]:
String_1.endswith("Cibelle.")

True

In [ ]:
#contar palavras ou letras
String_1.count("C")

1

In [ ]:
#Transformação minusculo para maiusculo na inicial
Nome = "ana"

In [ ]:
Nome.capitalize()

'Ana'

In [ ]:
# Verifica se existe um valor numérico
String_RG = "22254880"

In [ ]:
String_RG.isdigit()

True

In [ ]:
# Verifica se a string alfanumerica
String_1.isalnum()

False

In [ ]:
# upper transforma tudo em minuscula em maiusculo

Nome = "angela"
Nome.upper()

'ANGELA'

In [ ]:
# lower transforma tudo em maiusculo em minusculo

Nome1 = "JULIA"
Nome1.lower()

'julia'

In [ ]:
# find - serve para localiza 

Frase = "Hoje está frio."

In [ ]:
Frase.find("está")

5

In [ ]:
# o que significa o 5 na anterior que a palavra está começa na quinta posição

In [ ]:
#  strip - remove espaço antes ou depois

Endereco = " R Joana Darc 16 "

In [ ]:
Endereco.strip()

'R Joana Darc 16'

In [ ]:
# split - ele quebra a string em fatias

Frase3 = "Estou muito feliz, hoje"

In [ ]:
Frase3.split()

['Estou', 'muito', 'feliz,', 'hoje']

In [ ]:
Frase3.split(",")

['Estou muito feliz', ' hoje']

10 - Comando Input -> A funçao input recebe como parametro uma string que será
mostrada com o auxilio ao usuario, geralmente o informando que tipo de 
dado o programa está aguardando receber

In [ ]:
# input
input ("alguma mensagem!")

alguma mensagem!alguma

'alguma'

In [ ]:
# Form

Nome = input("Qual seu nome: ")
Idade = input("Qual é sua idade: ")

print("Seu nome é: ", Nome)
print("Sua idade é: ", Idade)

Qual seu nome: Angela
Qual é sua idade: 31
Seu nome é:  Angela
Sua idade é:  31

**11 - Parte de lógica**

***a) Operadores de Comparação***

"==" ( Igual a ) <p>
"!=" ( Diferente )<p>
">" ( Maior)<p>
"<" ( Menor)<p>
">=" ( Maior igual)<p>
"<" ( Menor igual )<p>

In [ ]:
10 == 10

True

In [ ]:
10 != 9

True

In [ ]:
10 != 10

False

b) Operadores lógicos - são usados para combinar instrucoes condicionais

- **and** ( Retorna True se ambas as declaraçoes forem verdadeira ) <p>
- **or** (Retorna True se uma das declaracoes for verdadeira) <p> 
- **not** (inverte o Resultado, retorna False se o resultado for verdadeiro)

In [ ]:
10 > 2 and 10 > 3

True

In [ ]:
10 != 5 or 10 != 10

True

In [ ]:
lista = [ 3, 6, 9 ]

In [ ]:
6 in lista  # in representa que está

True

In [ ]:
6 not in lista # not in representa que nao esta

False

c) Operadores de Identidade:<p>

São usados para comparar os objetos, não se forem iguais,
mas se forem realmente o mesmo objeto, com a mesma localizao de memoria. <p>

- **is** ( Retorna True se ambas as variaveis forem o mesmo objeto)<p>
- **is not** (Retorna True se ambas as variaveis não forem o mesmo objeto)

In [ ]:
String_04 = "Oi"
String_05 = "Oi"

In [ ]:
type(String_04) == type(String_05)

True

In [ ]:
type(String_04) is type(String_05)

True

In [ ]:
type(String_04) is not type(String_05)

False

12 - Manipulação de Listas

As listas são usadas para armazenar vários itens em uma única variável.

As listas são um dos 4 tipos de dados internos do Python usados para armazenar coleções de dados, os outros 3 são Tuple, Set e Dictionary, todos com qualidades e usos diferentes.

Comandos mais utilizados:

1. append()  - Para adicionar um item ao final da lista
2. len() - Calcular o tamanho da lista
3. [] - acessar posiçoes
4. del() - Excluir um elemento
5. clear() - Limpar a lista
6. insert() - Para inserir um item de lista em um índice especificado
7. extend() - Anexar elementos de outra lista à lista atual
8. remove() - Remove o item especificado
10. sort() - Ordenar os valores
11. copy() - fa uma cópia da lista
12. index() - Retorna o index do elemento da lista

In [6]:
Lista_Vazia = []
print ( Lista_Vazia )

[]

In [7]:
Lista_Vazia.append(2)
Lista_Vazia.append(3)
Lista_Vazia.append("Valor")

In [8]:
Lista_Vazia

[2, 3, 'Valor']

In [9]:
len(Lista_Vazia)

3

In [10]:
# acessar - a lista vazia começa no zero

Lista_Vazia[0]

2

13 - Pacote Externo - Datetime

O datetime módulo fornece classes para manipulação de datas e horas

In [11]:
 type( "02/02/2000")

str

Para trabalhar com datas e horas, utilizamos o pacote datetime, 
neste caso importamos ele.

In [16]:
import datetime

In [18]:
Dia_Hoje = datetime.datetime.today()

print(Dia_Hoje)

2022-06-03 22:54:47.392888

In [19]:
type(Dia_Hoje)

datetime.datetime

In [20]:
print(datetime.datetime.today().date())

2022-06-03

In [21]:
Data = datetime.datetime.today().date()

In [ ]:
Ano = Data.year
Mes = Data.month 
Dia = Data.day