<a href="https://colab.research.google.com/github/cibellelepore/curso_analisededados/blob/main/Script_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CURSO DE ANÁLISE DE DADOS EM *PYTHON*

**1 - Primeiros Passos**

In [1]:
print("Bem-vindo ao curso de Python")

Bem-vindo ao curso de Python

In [2]:
# - usado para fazer comentário

In [3]:
'''
Ele aceita tres aspas simples para fazer comentario - no terminal
'''

'\nEle aceita tres aspas simples para fazer comentario - no terminal\n'

**2 - Operadores Matemáticos**

In [5]:
# Soma
1 + 5

6

In [8]:
# Subtração
10 - 5

5

In [9]:
# multiplicacao
2 * 3

6

In [10]:
# Divisão
10 / 2

5.0

In [11]:
# Exponenciacao

2 ** 3

8

3 - **Variáveis**

In [12]:
# Variaveis
Nome = "Cibelle"

In [13]:

Nome

'Cibelle'

In [17]:
# Variaveis de Texto
Var_texto1 = "Qualquer texto1"
Var_texto2 = str("Qualquer texto")

print(Var_texto1, Var_texto2)

Qualquer texto1 Qualquer texto

In [18]:
# Variaveis numericas
Var_Inteiro_01 = 100
Var_Inteiro_02 = int(200)

print(Var_Inteiro_01, Var_Inteiro_02)

100 200

In [19]:
# Variaveis Flutuantes (decimais)
Var_Flutuante_01 = 10.90
Var_Flutuante_02 = float(12.2)

print(Var_Flutuante_01, Var_Flutuante_02)

10.9 12.2

In [20]:
# Variaveis Boleanas 
Var_Booleano_01 = True
Var_Booleano_02 = False

print( Var_Booleano_01, Var_Booleano_02)

True False

**4 - Tipos de Dados**

In [21]:
# Listas - cria utilizando []
Lista_Exemplo = [1,5,9,11]
print(Lista_Exemplo)

[1, 5, 9, 11]

In [23]:
# Tuplas - cria utilizando () as tuplas são imutáveis
Tupla_Ex = ("casa", 5, 10.5, True )

print(Tupla_Ex)

('casa', 5, 10.5, True)

In [ ]:
# Dicionarios 
Dicionario = { 
    "Id" : 3
    "Id" : 2
    "Nome" : "João"
}

**5 - Nomeação de variáveis**

In [25]:
# 1 forma de nomear - primeira opcão o python faz correspondecia entre as variaveis

Melancia, Caju, Laranja = 2, 8, 11

print(Melancia, Caju, Laranja)

2 8 11

In [26]:
# 2 forma de nomear - atribuir um valor global, para todas as variaveis

Morango = Laranja = Lima = 122   #todas as frutas vao receber o valor de 122

print(Morango, Laranja, Lima)

122 122 122

In [27]:
# 3 forma de nomear como lista

Lista_Carros = ["W", "Audi", "Ford"]
marca_01, marca_02, marca_03 = Lista_Carros

print(marca_01, marca_02, marca_03)

W Audi Ford